.loginBtn{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5715;
    width: 40%;
    height: 40px;
    padding: 0.65rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    display: inline-flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #0473ea;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
}
.loginSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loginCard{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    padding: 0 2rem;
    margin: 0 auto;
    height: 70%;
    background-color: #ffffff;
}
.loginCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.scbLogo{
    margin-top: 20px;
}
.loginSection h2{
    margin-bottom: 40px;
}
.loginSection form input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1.75rem;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #121212;
    text-transform: unset;
    text-rendering: optimizeLegibility;
    background: #f1f5f9;
    font-family: inherit;
    width: 300px;
}
.error{
    color: red;
}