.tableContainer {
    width: 60% !important;
    margin: auto;
}

.table {
    width: 650px;
}
.table th{
    background-color: #0473ea; 
    font-weight: bold;
    color: #ffffff;
}
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}
.tablePagination {
    display: flex;
    margin-left: 56%;
}
